# Ignore database files
*.mdf
*.ldf

# Ignore build output folders
**/bin/
**/obj/

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore packages folder
**/packages/

# Ignore logs and temp files
*.log
*.tmp
